.ChoiceContainer{
    width: 70vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

    border: solid 1px whitesmoke;
    border-radius: 15px;

    .ChoiceContainerTop{
        width: 50%;
        height: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ChoiceContainerBot{
        width: 80%;
        height: 40%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}